.col2 {
    background-color: var(--ion-color-secondary-shade);
    .insCol2 {
        color: var(--ion-color-light);
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

.col3 {
    background-color: var(--ion-color-primary);
    .insCol3 {
        color: var(--ion-color-light);
        padding-top: 5%;
        padding-bottom: 5%;
    }
}