ion-title {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline;
}

ion-img {
    width: 100px;
}

ion-input {
    border-style: solid;
    border-width: thin;
    width: 90%;
}

ion-textarea {
    border-style: outset;
    border-radius: 2px;
    width: 90%;
}

p {
    margin: 0;
}

ion-col {
   padding: 0; 
}