
ion-title {
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    text-decoration: underline;
}

ion-item {
    margin: 5%;
}

.buttonText {
    text-transform: uppercase;
    font-size: large;
}

ion-col {
    border-width: thin;
    border-style: solid;
}
